<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="">UserName</label>
        <input type="text" class="form-control" formControlName="userName" name="userName">

        <div *ngIf="loginForm.get('userName').hasError( 'required') ">
            provide a user name!
        </div>

    </div>


    <div class="form-group ">
        <label>PassWord</label>
        <input type="password" class="form-control " formControlName="passWord" name="passWord">

        <div *ngIf="loginForm.get('passWord').hasError( 'pattern') ">
            invalid pattern for password
        </div>
    </div>
    <div class="form-group ">
        <input type="submit " class="btn btn-info" value="Login ">
    </div>
</form>
{{loginForm.value|json}}

<a [routerLink]="[ '/register'] " class="nav-link ">New User</a>